<%- include('parts/html-head') %>

    <body class="sub_page d-flex flex-column min-vh-100">
        <div class="hero_area">
            <%- include('parts/menu') %>
        </div>
        <div class="pb-5 text-center container">
            <div class="checkout">
                <div class="checkout-body"><i class="h1 font-weight-bold fas fa-cat text-secondar"></i>
                    <p>
                        <b>感謝您的支持，商品預購約2~3年準備完成，請您耐心等候</b>

                    </p>
                </div>
            </div>
        </div>


        <%- include('parts/footer') %>
            <%- include('parts/html-js') %>
    </body>

    </html>