<%- include('parts/html-head') %>

    <body class="sub_page d-flex flex-column min-vh-100">
        <div class="hero_area">
            <%- include('parts/menu') %>
        </div>


        <div class="py-5">
            <div class="row">
                <section class="product_section layout_padding col-md-12">
                    <div class="container">
                        <div class="row justify-content-md-center">
                            <div class="col-md-6">
                                <div class="heading_container mb-5">
                                    <h2>
                                        更改密碼
                                    </h2>
                                </div>
                                <form name="forget_form" onsubmit="checkForm(); return false;">
                                    <div class="form-group">
                                        <label for="account">帳號</label>
                                        <input type="text" class="form-control" id="account" name="account">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">輸入新密碼</label>
                                        <input type="password" class="form-control" id="password" name="password">
                                    </div>
                                    <div class="form-group">
                                        <label for="password2">再輸入一次密碼</label>
                                        <input type="password" class="form-control" id="password2" name="password2">
                                    </div>
                                    <div id="info" class="alert alert-success" role="alert" style="display: none"></div>
                                    <button type="submit" class="btn btn-primary">更改密碼</button>
                                </form>

                            </div>
                            <!-- col-6 end -->
                        </div>
                        <!-- row -->
                    </div>
                </section>

            </div>
        </div>
        </section>

        <section class="cart_section layout_padding">
            <form>


        </section>

        <%- include('parts/footer') %>
            <script>
                const info = $('#info');

                function checkForm() {
                    $.post('', $(document.forget_form).serialize(), function(data) {
                        if (data.success) {
                            // 新增成功後回到首頁
                            setTimeout(function() {
                                location.href = '/login';
                            }, 1000);
                        } else {}
                    }, 'json');
                    return false;
                }

                function delete_it(product_id) {
                    if (confirm(`是否要刪除編號為 ${product_id} 的資料?`)) {
                        $.post('/cart/delete', {
                            product_id,
                        }, function(data) {
                            location.reload();
                        }, 'json');
                    }
                }
            </script>
            <%- include('parts/html-js') %>
    </body>

    </html>