<%- include('parts/html-head') %>

    <body class="sub_page d-flex flex-column min-vh-100">
        <div class="hero_area">
            <%- include('parts/menu') %>
        </div>

        <section class="cart_section layout_padding">
            <div class="container">

                <h5 class="mt-3">隱私權政策</h5>
                <ul class="mb-4 list-style-type-decimal">
                    <li>為了保障您的權利，請您於使用本網站前，應詳細閱讀本服務條款、隱私權政策及本網站現在所公告之條款， 如有任何不清楚之處，請立即與 Food 客服人員聯繫。
                    </li>
                    <li>
                        進入本網站後，無論您是以何種身分瀏覽本網站，如您開始使用本網站所提供之各項服務，即代表您同意並願意遵守中華民國法律、 所有相關條例規則及本服務條款之所有內容，並完全接受本網站現在及未來衍生之服務項目及內容。 Food 有權於任何時間修改或變更本服務條款之內容，修改後之服務條款內容將公布於本網站， Food 不會個別通知會員，請您隨時注意該等修改或變更。若您於任何修改或變更後仍繼續使用本網站時， 視為您已閱讀、暸解並同意接受該等修改或變更。若您不同意前述服務條款修訂或更新方式，或不接受本服務條款之任一約定，
                        請您立即停止使用本網站。
                    </li>
                    <li>如您尚未年滿二十歲，則需請您的父母或法定監護人（以下合稱「相關法定人士」）於您申請成為本網站之會員前， 事先閱讀本服務條款，並經相關法定人士同意後，才得以申請、註冊及使用本網站所提供之會員服務。 當您完成申請加入會員流程並開始使用本網站之服務時，即代表相關法定人士已參閱、暸解、同意並願意遵守本服務條款。
                    </li>
                </ul>
            </div>
        </section>

        <%- include('parts/footer') %>
            <%- include('parts/html-js') %>
    </body>

    </html>