<%- include('parts/html-head') %>

    <body class="sub_page d-flex flex-column min-vh-100">
        <div class="hero_area">
            <%- include('parts/menu') %>
        </div>


        <!-- content section -->
        <section class="product_section layout_padding">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-6">
                        <div class="heading_container mb-5">
                            <h2>
                                註冊
                            </h2>
                            <hr>
                        </div>

                        <form name="signup_form" id="signup_form" onsubmit="checkForm(); return false;">

                            <div class="form-group">
                                <label for="account">帳號</label>
                                <input type="account" class="form-control" id="account" name="account" placeholder="Username" required>
                            </div>

                            <div class="form-group">
                                <label for="password">會員密碼</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <label for="password2">再次輸入密碼</label>
                                <input type="password" class="form-control" id="password2" name="password2" placeholder="Repeat Your Password " required>
                            </div>
                            <div class="form-group">
                                <label for="name">姓名</label>
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                            <div class="form-group">
                                <label for="mobile">手機</label>
                                <input type="text" class="form-control" id="mobile" name="mobile" pattern="09\d{2}-?\d{3}-?\d{3}">
                            </div>
                            <div id="info" class="alert alert-success" role="alert" style="display: none">
                            </div>

                            <button type="submit" class="btn btn-primary">加入會員</button>
                        </form>
                    </div>
                    <!-- col-6 end -->
                </div>
                <!-- row -->
            </div>
        </section>
        <!-- end content section -->

        <%- include('parts/footer') %>
            <%- include('parts/html-js') %>
                <script>
                    const info = $('#info');

                    function checkForm() {
                        $.post('', $(document.signup_form).serialize(), function(data) {
                            console.log('hi');
                            if (data.success) {
                                info.removeClass('alert-danger').addClass('alert-success');
                                info.html('註冊成功');
                                info.slideDown(); // 下拉顯示
                                // 新增成功後回到首頁
                                setTimeout(function() {
                                    location.href = '/';
                                }, 3000);
                            } else {
                                info.removeClass('alert-success').addClass('alert-danger');
                                info.html(data.error);
                                info.slideDown();
                                setTimeout(function() {
                                    info.slideUp(); // 上捲後隱藏
                                }, 3000);
                            }
                        }, 'json');
                        return false;
                    }
                </script>
    </body>

    </html>