<!-- header section strats -->

<body class="d-flex flex-column min-vh-50">
    <!--try-->

    <header class="bg-white ">
        <nav class="px-1 py-2 py-sm-3 px-sm-2 py-md-0 pt-md-2 flex-md-column navbar navbar-expand-md">
            <div class="d-flex d-md-none"><button type="button" class="bg-transparent border-0 py-0 d-block d-md-none shadow-none btn btn-light" aria-label="Toggle navigation"><i class="fas fa-bars h5-sm"></i></button></div>
            <a class="navbar-brand position-absolute position-md-initial position-x-center transform-md-inherit " href="/">
                <img src="img/transparent.png"></a>
        </nav>
    </header>

    <div class="position-md-absolute top-1-md right-0-md d-flex p-1">
        <ul class="d-flex ml-auto">
            <% if(session.user){ %>
                <li class="cursor-pointer d-flex align-items-center text-dark">
                    <a class="cursor-pointer d-flex align-items-center text-dark">
                        <%= session.user.name %>
                            <%= session.user.account %>你好</a>
                </li>
                <li class=" d-flex align-items-center py-1 px-2 ">
                    <a class="d-flex align-items-center cursor-pointer text-dark" id="btn-login" href="/logout">
                        <span class="d-none d-md-block mr-1"></span><i class="fas fa-sign-out-alt" title="logout">登出</i></a>
                </li>
                <% } else { %>
                    <li class=" d-flex align-items-center py-1 px-2 ">
                        <a class="d-flex align-items-center cursor-pointer text-dark" id="btn-login" href="/login">
                            <span class="d-none d-md-block mr-1"></span><i class="fas fa-user h6-sm" title="login">登入</i></a>
                    </li>
                    <% } %>

                        <li class=" d-flex align-items-center py-1 px-2   ">
                            <a id="btn-go-cart" class="cursor-pointer d-flex align-items-center text-dark" href="/product">
                                <span class="d-none d-md-block mr-1"></span><i class="fas fa-utensils"></i>商品列表</i>
                        </li>

                        <li class=" d-flex align-items-center py-1 px-2   ">
                            <a id="btn-go-cart" class="cursor-pointer d-flex align-items-center text-dark" href="/cart">
                                <span class="d-none d-md-block mr-1"></span><i class="fas fa-shopping-cart">購物車</i>
                                <span class="badge badge-secondary badge-pill subqq">0</span></a>
                        </li>
        </ul>

    </div>



    <!--tryend-->